extends layout.pug

block content
  .card
    h1 Your Tasks
      img(src="/images/icon.png", alt="icon" width="50px")
    ul
      each task, index in tasks
        li.tasks
         form.task(action=`/complete-task/${index}`, method="post")
          .first
            button.checkmark(type="submit", class=task.completed ? 'completed' : '')
            span.task-text(class=task.completed ? 'completed' : '')= task.text
              span (#{task.date}) 
          .second
            a.edit(href=`/edit-task/${index}`) 
              img(src="/images/edit.png", alt="edit" width="30px")
            a.delete(href=`/delete-task/${index}`)
              img(src="/images/close.png", alt="delete" width="30px")

